<h1>
  Modify role of <%= @slurm_association.user %> <br/>
  on <%= @slurm_association.slurm_account %>
</h1>

<%= simple_form_for [@slurm_account, @slurm_association] do |f| %>
  <div>
    <p>
      A user is <strong>manager</strong> if he/she can add and delete users in the HPC group.
    </p>
    <%= label_tag 'Manager: ' %> <%= check_box_tag 'manager', 'manager', @slurm_association.manager %>
  </div>
  <%= f.submit "Save" %>
<% end %>
