<h1><small>Welcome to</small><br/>HPC@UNIBO Portal</h1>

<% if current_user %>
  <% memberships = current_user.slurm_associations.includes(:slurm_account).all %>
  <% if memberships.any? %>
    <p class="my-2">
    You belong to the following <strong>HPC groups</strong>:
    </p>
    <div class="list-group">
      <% memberships.each do |ms| %>
        <%= link_to ms.slurm_account, class: "list-group-item list-group-item-action list-group-item-success my-3" do %>
          <%= ms.slurm_account %>
          <% if ms.manager? %>
            <span class="float float-end">As manager</span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    You are <strong>not member</strong> of any HPC@UNIBO group yet.
    In order to apply please....
  <% end %>

  <p>To access login node with ssh you have the followind keys:</p>

  <%= render AuthorizedKey::ListComponent.new(current_user) %>
<% else %>
  <div class="text-center my-3">
    <h3 class="my-3">To access use your Unibo account.</h3>
    <% if Rails.env.development? && Rails.configuration.dm_unibo_common[:omniauth_provider] == :developer %>
      <%= form_with url: "/dm_unibo_common/auth/developer", data: {turbo: false} do |f| %> 
        <%= f.button dm_icon('sign-in', text: "Developer login", size: :lg), class: "btn btn-primary" %> 
      <% end %>
    <% elsif Rails.env.production? && Rails.configuration.dm_unibo_common[:omniauth_provider] == :azure_activedirectory_v2 %>
      <%= form_with url: "/dm_unibo_common/auth/azure_activedirectory_v2", data: {turbo: false} do |f| %> 
        <%= f.button dm_icon('sign-in', text: "Unibo login", size: :lg), class: "btn btn-primary" %> 
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="alert alert-light my-5">
  <p>Using <strong>HPC@UNIBO portal</strong> (when allowed) you can:</p>
  <ul style="list-style-type: disc">
    <li style="list-style-type: disc">add new users (@unibo.it, @studio.unibo.it) to the HPC groups you are manager;</li>
    <li style="list-style-type: disc">check the active projects;</li>
  </ul>

  <p>Please visit the <%= link_to 'instructions page', guide_path %> for more informations about the AlmaHPC cluster.</p>
</div>

