<%= dm_form_for slurm_account do |f| %>
  <%= f.dm_error_notification %>  
  <% disabled = !f.object.new_record? %>
  <%= f.input :slug, hint: "Used as group name in nodes. No spaces, only letters, numbers, underscores and dots.", disabled: disabled %>
  <%= f.input :name %>
  <div class="row my-3">
    <div class="col-sm-3 text-end">
      <label>Notes</label>
    </div>
    <div class="col-sm-9">
      <%= f.rich_text_area :description %>
    </div>
  </div>
  <%= f.submit %>
<% end %>
