<h1><%= dm_icon("users") %> HPC groups</h1>

<div class="alert alert-info">
  <p>
    This is the list of groups in HPC@UNIBO. The groups represent HPC projects and can be popuplated with unibo users.<br/>
    To every group there is a Unix group to access HPC resources and files.
  </p>
</div>

<% if policy(:slurm_account).new? %>
  <div class="my-3 text-end">
    <%= link_to "New group", new_slurm_account_path, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="list-group">
  <% @slurm_accounts.each do |g| %>
    <%= link_to g, class: "list-group-item list-group-item-action" do %>
      <h3><%= g %></h3>
      <div class="ps-2 small">
        <%= g.description %>
      </div>
    <% end %>
  <% end %>
</div>

