<h1>
  <%= @slurm_account %> 
  <%= link_to_edit("", [:edit, @slurm_account]) if policy(@slurm_account).edit? %> <br/>
  <small><%= @slurm_account.slug %></small>
</h1>

<div class="alert alert-warning">
  <%= @slurm_account.description %>
</div>

<% if policy(@slurm_account).edit? %>
  <div class="text-end my-2">
    <%= link_to "Aggiungi nuovo utente", new_slurm_account_slurm_association_path(@slurm_account), class: "btn btn-primary" %>
  </div>
<% end %>

<h2>Lista abilitati</h2>

<div class="list-group">
  <% @slurm_account.slurm_associations.includes(:user).order("users.name").each do |hm| %>
    <div class="list-group-item <%= "list-group-item-primary" if hm.manager %>">
      <%= link_to hm.user, hm.user %> <small>(<%= hm.user.upn %>)</small>
      <% if policy(@slurm_account).edit? %>
        <div class="float-end">
          <%= link_to_delete "", hm %>
          <%= link_to_edit "", [:edit, hm] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
